# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

.claude
.agents
.pnpm-store

.vscode

.tmp-mcp-server-claude

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

pnpm-workspace.yaml
# environment variables
.env
.env.production

server/
docs/
.railway/

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
